<style>
span {color: red;}
</style>
<body>
  <div class="">
    {{link}}
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
          <a class="navbar-brand" href="/">PointLift</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="request_details">
        <table class="table table-bordered table-secondary">
          <tbody>
            <tr>
              <th scope="row">Event Start Date</th>
              <td id="start"></td>
            </tr>
            <tr>
              <th scope="row">Event End Date</th>
              <td id="end"></td>
            </tr>
            <tr>
              <th scope="row">Destination</th>
              <td>{{destination}}</td>
            </tr>
            <tr>
              <th scope="row">Number of Expected Passengers</th>
              <td>{{num_passengers}}</td>
            </tr>
            <tr>
              <th scope="row">Departure From Location</th>
              <td>{{departure_location}}</td>
            </tr>
            <tr>
              <th scope="row">Arrival Location</th>
              <td>{{arrival_location}}</td>
            </tr>
            <tr>
              <th scope="row">Estimated Time of Arrival</th>
              <td>{{estimate_arrival}}</td>
            </tr>
            <tr>
              <th scope="row">Estimated Time of Return</th>
              <td>{{return_time}}</td>
            </tr>
            <tr>
              <th scope="row">Hotel Name</th>
              <td>{{hotel_name}}</td>
            </tr>
            <tr>
              <th scope="row">Hotel Address</th>
              <td>{{hotel_address}}</td>
            </tr>
            <tr>
              <th scope="row">Hotel Phone Number</th>
              <td>{{hotel_num}}</td>
            </tr>
            <tr>
              <th scope="row">Hotel Direction</th>
              <td>{{hotel_direction}}</td>
            </tr>
            <tr>
              <th scope="row">Return Location</th>
              <td>{{return_location}}</td>
            </tr>
            <tr>
              <th scope="row">Event Person</th>
              <td>{{event_person}}</td>
            </tr>
            <tr>
              <th scope="row">Additional Comment</th>
              <td>{{comment}}</td>
            </tr>
            <tr>
              <th scope="row">Requester Email</th>
              <td>{{requester_email}}</td>
            </tr>
          </tbody>
        </table>
        <p><input type="hidden" id="id" value="{{id}}"></input></p>
        <p><input type="hidden" id="requester_email" value="{{requester_email}}"></input></p>
        <p><input type="hidden" id="requester_name" value="{{requester_name}}"></input></p>
        <!-- <p>Start Date: <span id="start">{{start}}</span></p>
        <p>End Date: <span id="end"></span>{{end}}</p>
        <p>Destination: <span id="destination">{{destination}}</span></p> -->
        <!-- <p><a href="https://fkonat.it.pointpark.edu/pointlift/bus_rental_request?link=24">link</a></p> -->
        <button type="button" class="btn btn-primary getForm">Approve & Provide Driver</button>
      </div>
      <div class="col-md-12" id="busCompany_form"></div>
    </div>
  </div>
  <script>
  var request_id, requester_email, requester_name;
    $(document).ready(function(){
      var start = moment('{{start}}').format("LLL");
      var end = moment('{{end}}').format("LLL");
      console.log(start);
      $("#start").text(start);
      $("#end").text(end);
      request_id =$("#id").val();
      requester_email =$("#requester_email").val();
     requester_name =$("#requester_name").val();
     console.log(request_id);
     console.log(requester_email);
      console.log(requester_name);
      //getBusRentalRequest();
    });
    $(".getForm").click(function(){
      createForm();
    });

    // $(document).on('submit', '#request_approve_by_bcompany', function(e) {
    //      $.ajax({
    //         url: $(this).attr('action'),
    //         type: $(this).attr('method'),
    //         data: $(this).serialize(),
    //         success: function(html) {
    //         location.reload();
    //         }
    //     });
    //     e.preventDefault();
    // });

    $("#request_approve_by_bcompany").submit(function(){
      $.ajax({
        type:"POST",
        url:"request_approve_by_bcompany",
        // data:{request_id:request_id}
        // success: function(){
        //   window.assign("loggout");
        // }
      });
    });
    function createForm(){
      var form = $("<form id='request_approve_by_bcompany' action='request_approve_by_bcompany' method='post'><div class='form-row'><div class='form-group col-md-6'><label>Bus Company Name</label><input class='form-control' name='bus_company' value='' required></div><div class='form-group col-md-6'><label>Reference Number</label><input class='form-control'  name='ref_num' value=''required></div></div><div class='form-row'><div class='form-group col-md-6'><label>Name of Bus Driver</label><input class='form-control' name='bus_driver' value='' required></div>"+"<div class='form-group col-md-6'><label>Bus Number</label><input class='form-control'  name='bus_num' value='' required></div>"+
      "</div><div class='form-row'><div class='form-group col-md-6'><label>Bus Driver's Phone Number</label><input class='form-control' name='bus_driver_phone' value='' required></div><div class='form-group col-md-6'><label>Bus Phone Number</label><input class='form-control'  name='bus_phone' value='' required></div></div>"+"<div class='form-row'><div class='form-group col-md-6'>"
      +"<label>Emergency Contact Number</label><input class='form-control' name='emergency_contact' value='' required><input type='hidden' name='requester_name' value='"+requester_name+"'><input type='hidden' name='request_id' value='"+request_id+"'><input type='hidden' name='requester_email' value='"+requester_email+"'></div></div><button id='approve_request' class='btn btn-success'>Submit</button></form>");
      $("#busCompany_form").append(form);
    }
    $("#approve_request").click(function(){
      $("#request_approve_by_bcompany").submit();
    });
  </script>
</body>
